table {
  border-collapse: collapse;
  border: 2px solid black;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead{
  background-color: lawngreen;
}

th,
td {
  border: 1px solid green;
  padding: 8px 10px;
}

td{
  text-align: center;
}

tbody {
  background-color: lightgreen;
}

th[scope="row"] {
  font-family: monospace;
  background-color: orange;
}
